<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/88f8126e-5e75-4245-8c63-2aa96f1df4ae/resourceGroups/EmployeePOC/providers/Microsoft.ApiManagement/service/EmployeesFormAPI/apis/EmployeeFormAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/88f8126e-5e75-4245-8c63-2aa96f1df4ae/resourceGroups/EmployeePOC/providers/Microsoft.Web/sites/employeedetailsapi</ResourceId>
    <ResourceGroup>EmployeePOC</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://employeedetailsapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fec02440-de51-4cfc-b91b-03e23548f06a</ProjectGuid>
    <PublishUrl>https://employeedetailsapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$employeedetailsapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>