@page "/chatbot"
<center>
<div class="a">

<h3 >Chatbot</h3>

<iframe src='https://webchat.botframework.com/embed/qnamaker5641-bot?s=3GGXnEcikAE.MrIePai5Bm3M-p24nx08uK108j0Kx6-mR2gNmV7NNfg' style='min-width: 400px; width: 40%; min-height: 640px;'></iframe>

</div>
</center>
