@page "/"

<PageTitle>Index</PageTitle>

<center><h1 style="color:cornflowerblue" > Interview Registration Form </h1></center>
<center>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9R4QNIpJvVqkLRHPK7UgUYZ8UY8TzhBQmBQ&usqp=CAU" height="250px" width="400px"/>
</center>
<h4></h4>
<h4>
    <p>

        When you hear the word interview, what comes to mind? Job hunts, job applications, a 50:50 chance of grabbing the position, etc. Before getting hired in a job position you are applying for, people go through a lot of interview phases or depending on the company. These interviews help potential employers understand and take up some knowledge about the candidate.
    </p>
    <p> The candidate is then assessed through the interview to see if they are fit for the job position they are applying for. Most of the time, the interviewer lists all the main qualities they may find from the candidate, and base it through what they got from the candidate.

    </p>
    <p>
        Interviewers are also most of the time required to do a candidate interview summary about the candidate and send it to their employers who will be the one to see if the candidate is the one they are seeking.

    </p>

</h4>



